@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-bg: #211f1f;
  --header-title-clr1: #00c2ff;
  --header-title-clr2: #33ff8c;
  --header-title-clr3: #ffc640;
  --header-title-clr4: #e54cff;

  --text-blur: 1rem;
  --header-subtitle : clamp(1.3rem, 2vw, 2rem);
  --fs: clamp(6rem, 9vw, 8rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

/* header */

.header-bg {
  min-height: 80vh;
  display: grid;
  place-items: center;
  background-color: var(--header-bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

.header-content {
  margin-top: 20vh;
  text-align: center;
}

.header-title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--header-bg);
  /* margin: 0; */
}

.header-subtitle {
  font-family: "Inter", "DM Sans", Arial, sans-serif;

  font-size: var(--header-subtitle);
  margin-top: 2rem;
}

.header-scrolling {
  margin-top: 20vh;
}

.header-aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.header-aurora-item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--header-title-clr1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--text-blur));
  mix-blend-mode: overlay;
}

.header-aurora-item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.header-aurora-item:nth-of-type(2) {
  background-color: var(--header-title-clr3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.header-aurora-item:nth-of-type(3) {
  background-color: var(--header-title-clr2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.header-aurora-item:nth-of-type(4) {
  background-color: var(--header-title-clr4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* nav */

.bg-nav {
  opacity: 90%;
  background-color: rgb(84, 114, 138);
}

li, a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color:#fff;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  
}

.navbar-logo {
    cursor: pointer;
    margin-right: auto;
  }

.navbar-logo:hover, .navbar-logo:focus {
  color: #262525e6;
  }
 
  
.navbar-list {
  list-style: none;  
  }

.navbar-list li {
  display: inline-block;
  padding : 0px 20px;
}

.navbar-list li a:hover{
  color : #000000e6;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}





/* Section about us */

.aboutus {
  text-align: center;
  margin-top: 90px;
  color: rgb(9, 9, 9);
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 200px;
}

.aa {
  margin-top: 30px;
  color: rgb(9, 9, 9);
  background-color: rgb(78, 145, 158);
  width: auto;
  height: 300px;
}